---
services:
  traefik:
    image: traefik:v3.6.6
    deploy:
      mode: replicated
      placement:
        constraints:
          - node.labels.proxy==true
          - node.role==manager
      replicas: 1
      labels:
        traefik.enable: "true"
        traefik.http.middlewares.redirect-http-to-https.redirectscheme.permanent: "true"
        traefik.http.middlewares.redirect-http-to-https.redirectscheme.scheme: "https"
        traefik.http.middlewares.redirect-non-www-to-www.redirectregex.permanent: "true"
        traefik.http.middlewares.redirect-non-www-to-www.redirectregex.regex: "^https?://(?:www\\.)?(.+)"
        traefik.http.middlewares.redirect-non-www-to-www.redirectregex.replacement: "https://www.$${1}"
        traefik.http.middlewares.sts-headers.headers.STSIncludeSubdomains: "true"
        traefik.http.middlewares.sts-headers.headers.STSSeconds: "31536000"
        traefik.http.routers.traefik.entrypoints: "websecure"
        traefik.http.routers.traefik.middlewares: "sts-headers,auth-svcs"
        traefik.http.routers.traefik.rule: "Host(`proxy.${SERVICES_DOMAIN}`)"
        traefik.http.routers.traefik.service: "api@internal"
        traefik.http.routers.traefik.tls: "true"
        traefik.http.routers.traefik.tls.certresolver: "letsencrypt"
        traefik.http.services.traefik.loadbalancer.server.port: "443"
        traefik.swarm.network: "proxy"
    environment:
      TZ: Europe/Berlin
    command:
      --accesslog.fields.names.StartUTC=drop
      --api.dashboard=true
      --certificatesresolvers.letsencrypt.acme.email=${ADMIN_EMAIL}
      --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
      --certificatesresolvers.letsencrypt.acme.httpchallenge=true
      --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      --entrypoints.ts-dns.address=:41144/tcp
      --entrypoints.ts-filetransfer.address=:30033/tcp
      --entrypoints.ts-raw.address=:10011/tcp
      --entrypoints.ts-voice.address=:9987/udp
      --entrypoints.web.address=:80
      --entrypoints.web.http.redirections.entrypoint.scheme=https
      --entrypoints.web.http.redirections.entrypoint.to=websecure
      --entrypoints.websecure.address=:443
      --metrics.prometheus=true
      --providers.swarm
      --providers.swarm.exposedbydefault=false
    ports:
      - mode: host
        published: 80
        target: 80
      - mode: host
        published: 443
        target: 443
      - mode: host
        protocol: udp
        published: 9987
        target: 9987
      - mode: host
        protocol: tcp
        published: 10011
        target: 10011
      - mode: host
        protocol: tcp
        published: 30033
        target: 30033
      - mode: host
        protocol: tcp
        published: 41144
        target: 41144
    networks:
      proxy:
    volumes:
      - letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  proxy:
    attachable: true
    name: proxy

volumes:
  letsencrypt:
