[default]
bin_ansible_callbacks=True
callback_plugins=/home/chronicc/git/chronicc/infrastructure/.venv/lib/python3.12/site-packages/ara/plugins/callback
action_plugins=/home/chronicc/git/chronicc/infrastructure/.venv/lib/python3.12/site-packages/ara/plugins/action
lookup_plugins=/home/chronicc/git/chronicc/infrastructure/.venv/lib/python3.12/site-packages/ara/plugins/lookup
force_color = true

[inventory]
enable_plugins = yaml

[ara]
api_client=http
api_server=http://127.0.0.1:8000
; api_username = user
; api_password = password
api_timeout=15
callback_threads=4
localhost_as_hostname=true
localhost_as_hostname_format=fqdn

